.person-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.person-main-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.person-column,
.poster-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.person-image,
.poster-image {
    border-radius: 12px;
    width: 200px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.person-name,
.known-for-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.person-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.rating-birth-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 200px; /* Adjust this value to move it down */
}


.rating-birth-container p {
    top: 1000px;
    font-size: 16px;
    margin: 0;
    color: #333;
}

.error-text {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}

