.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    overflow: hidden;
  }
  
  .movieContainer {
    display: flex;
    gap: 10px;
    overflow: hidden;
    width: 100%;
    justify-content: center;
  }
  
  .movieCard {
    flex: 0 0 auto;
    text-align: center;
    max-width: 150px;
    margin: 0 5px;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .details {
    margin-top: 10px;
  }
  
  .button {
    font-size: 24px;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  